.layout-default{
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: rgb(242, 242, 242);
}
.topLine{
    background-color: rgb(160, 19, 142);
    width: 100vw;
    height: 0.3vh;
    position: fixed;
    z-index: 3;
}/*not used*/

.header{
    display: flex;
    position: fixed;
    flex-direction: row;
    width: 100vw;
    height: 15vh;
    align-items: center;
    background-color: white;
    z-index: 2;
    border-bottom: 2px solid rgb(160, 19, 142);
}
.brandLogo{
    padding-left: 12vw;
    text-decoration: none;
    color: rgb(16, 27, 43);
    font-weight: 800;
    font-size: 25px;
    text-align: center;
}
.header .medium{
    display: flex;
    flex-direction: row;
    padding-left: 30vw;
    
}
.header .medium a{
    text-decoration: none;
    font-size: 19px;
    color: black;
    font-weight: 600;
    transition: ease-in .3s;
}
.header .medium a:hover{
    color: rgb(160, 19, 142);
}


.totalTop, .totalMid, .totalBot{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.totalTop{
    padding-top: 20vh;
}
.totalMid{
    margin-top: -10vh;
}
.totalBot{
    margin-top: -5vh;
}

.chart{
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    transition: 0.3s;
}
span.center{
    background: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    line-height: 80px;
    font-size: 20px;
    transform: translate(-50%, -50%);
}


.dietInput{
    text-align: center;
}
.dietInput .mid{
    font-size: 30px;
    font-weight: 500;
    color: rgb(70, 70, 70);
}
.fas{
    margin-top: -13vh;
    font-size: 40px;
    color: rgb(70, 70, 70);
    cursor: pointer;
}
.fas:hover{
    color: rgb(49, 49, 49);
}