.layout-default{
    font-family: 'Gowun Dodum', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.topLine{
    background-color: rgb(160, 19, 142);
    width: 100vw;
    height: 0.3vh;
    position: fixed;
    z-index: 3;
}



.header{
    display: flex;
    position: fixed;
    flex-direction: row;
    width: 100vw;
    height: 15vh;
    align-items: center;
    background-color: white;
    z-index: 2;
}
.brandLogo{
    padding-left: 12vw;
    text-decoration: none;
    color: rgb(16, 27, 43);
    font-weight: 800;
    font-size: 25px;
    text-align: center;
}
.header .medium{
    display: flex;
    flex-direction: row;
    padding-left: 30vw;
    
}
.header .medium a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 600;
    transition: ease-in .3s;
}
.header .medium a:hover{
    color: rgb(109, 214, 179);
}



.greeting{
    padding-top: 15vh;
    display: flex;
    flex-direction: row;
    background: linear-gradient(100deg, rgb(16, 27, 43) 50%, rgb(242, 242, 242) 50%);
    -ms-user-select: none; 
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    word-wrap: break-word;
    font-family: 'Libre Baskerville', serif;
}
.black{
    width: 50vw;
    height: 85vh;
    /* background-color: rgb(16, 27, 43); */
    color: white;
}
.black p{
    padding-left: 20vw;
    padding-top: 5vh;
    transform: translateX(-10%);
    font-weight: 550;
    font-size: 10vh;
}
.white{
    /* background-color: rgb(242, 242, 242); */
    width: 50vw;
    height: 85vh;
}
.green{
    color: rgba(153, 205, 50, 0.6);
    font-size: 23vh;
    padding-top: 15vh;
    padding-left: 3vw;
    margin-bottom: -10vh;
}
.quote, .writer{
    padding-left: 6vw;
    padding-right: 15vw;
}

.fade-in-box-right{
    animation: fadeinRight 3s;
    -moz-animation: fadeinRight 3s; /* Firefox */
    -webkit-animation: fadeinRight 3s; /* Safari and Chrome */
    -o-animation: fadeinRight 3s; /* Opera */
}
@keyframes fadeinRight{
    from{
        opacity: 0;
        transform: translateX(10%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
@-moz-keyframes fadeinRight{
    from{
        opacity: 0;
        transform: translateX(10%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
@-webkit-keyframes fadeinRight{
    from{
        opacity: 0;
        transform: translateX(10%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
@-o-keyframes fadeinLeft{
    from{
        opacity: 0;
        transform: translateX(10%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
.fade-in-box-left{
    animation: fadeinLeft 3s;
    -moz-animation: fadeinLeft 3s; /* Firefox */
    -webkit-animation: fadeinLeft 3s; /* Safari and Chrome */
    -o-animation: fadeinLeft 3s; /* Opera */
}
@keyframes fadeinLeft{
    from{
        opacity: 0;
        transform: translateX(-20%);
    }
    to{
        opacity: 1;
        transform: translateX(-10%);
    }
}
@-moz-keyframes fadeinLeft{
    from{
        opacity: 0;
        transform: translateX(-20%);
    }
    to{
        opacity: 1;
        transform: translateX(-10%);
    }
}
@-webkit-keyframes fadeinLeft{
    from{
        opacity: 0;
        transform: translateX(-20%);
    }
    to{
        opacity: 1;
        transform: translateX(-10%);
    }
}
@-o-keyframes fadeinLeft{
    from{
        opacity: 0;
        transform: translateX(-20%);
    }
    to{
        opacity: 1;
        transform: translateX(-10%);
    }
}



.fas{
    color: rgba(164, 166, 167, 0.6);
    font-size: 40px;
    position: fixed;
    padding-top: 93vh;
    padding-left: 48.5vw;
    animation: fadeInDown 3s;
    -moz-animation: fadeInDown 3s; /* Firefox */
    -webkit-animation: fadeInDown 3s; /* Safari and Chrome */
    -o-animation: fadeInDown 3s; /* Opera */
    animation-iteration-count: infinite;
}

@keyframes fadeInDown{
    0% {
        opacity: 0;
        transform: translate3d(0, -5%, 0);
    }
    50% {
        opacity: 1;
        transform: translateZ(0);
    }
    to {
        opacity: 0;
        transform: translate3d(0, -5%, 0);
    }
}
@-moz-keyframes fadeInDown{
    0% {
        opacity: 0;
        transform: translate3d(0, -5%, 0);
    }
    50% {
        opacity: 1;
        transform: translateZ(0);
    }
    to {
        opacity: 0;
        transform: translate3d(0, -5%, 0);
    }
}
@-webkit-keyframes fadeInDown{
    0% {
        opacity: 0;
        transform: translate3d(0, -5%, 0);
    }
    50% {
        opacity: 1;
        transform: translateZ(0);
    }
    to {
        opacity: 0;
        transform: translate3d(0, -5%, 0);
    }
}
@-o-keyframes fadeInDown{
    0% {
        opacity: 0;
        transform: translate3d(0, -5%, 0);
    }
    50% {
        opacity: 1;
        transform: translateZ(0);
    }
    to {
        opacity: 0;
        transform: translate3d(0, -5%, 0);
    }
}
.intro{
    padding-top: 10vh;
    width: 100vw;
    height: 200vh;
    flex-wrap: wrap;
}
.intro .topIntro{
    padding-left: 10vw;
}
.intro .topIntro .main{
    font-size: 50px;
    font-weight: 1000;
}
.intro .topIntro .sub{
    font-size: 20px;
    font-weight: 600;
    color: grey;
    padding-bottom: 5vh;
}

.introContent{
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    user-select: none;
    -ms-user-select: none; 
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.intro1, .intro2, .intro3, .intro4{
    width: 38vw;
    height: 60vh;
    background-size: cover;
    border-radius: 10px;
}
.intro1{
    background-image: url('../img/Diet.png');
    margin-right: 3vw;
    margin-bottom: 5vh;
}
.intro2{
    background-image: url('../img/Exercise.jpg');
}
.intro3{
    background-image: url('../img/Sleep.png');
    margin-right: 3vw;
}
.intro4{
    background-image: url('../img/Better_day.jpg');
}